@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#fafafa];
  }
  .textfield {
    @apply form-input block w-full focus:z-20;
  }
  .checkbox-group {
    @apply flex gap-2 items-center;
  }
  .checkbox {
    @apply form-checkbox block rounded border-gray-300 shadow-sm focus:border-violet-300 focus:ring focus:ring-violet-200 focus:ring-opacity-50;
  }
}

.drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 80;
  padding: 1rem;
  box-shadow: -8px 0 12px 0 rgba(0, 0, 0, 0.08);
}

.drawer.open {
  right: 0;
}

.create-form-drawer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.create-form-drawer::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 5px;
  min-height: 50px;
}

.create-form-drawer::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .drawer {
    width: 100%;
  }
}